---
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/footer.astro';
import Hero from '../components/hero.astro';
import Header from '../components/header.astro';
---
<BaseLayout>
	<Header></Header>
	<main>
		<Hero></Hero>
	</main>
	<Footer></Footer>
</BaseLayout>
