---
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import Main from '../components/main.astro';
---
<BaseLayout title="Ramsey Ediku">
	<Header></Header>
	<Main></Main>
	<Footer></Footer>
</BaseLayout>

<style is:global>
	/* global styles */
	:root {
		--clr-dark: hsl(0, 0%, 20%);
		--clr-light: hsl(60, 100%, 99%);
		--clr-accent: hsl(51, 100%, 50%);
		--clr-accent-2: hsl(7, 82%, 63%);
	
		--border-radius: 5rem;
	}	
	body {
		background-color: var(--clr-dark);
		color: var(--clr-light);
		font-size: .955rem;
		font-weight: 350;
	}

	.wrapper {
        width: 70%;
        margin-inline: auto;
    }

	h2 {
		font-size: 1.25rem;
		margin-bottom: 1.4em;
	}
</style>
