---
const { label, style, link } = Astro.props
const baseClass = 'button'
---
<a class:list={[baseClass,{'button--contact': style}]} href="#">{label}</a>

<style>
    .button {
        border: solid 1px var(--clr-light);
        border-radius: var(--border-radius);
        color: var(--clr-light);
        padding: 1em;
        font-size: .75rem;
    }

    .button--contact {
        transform: rotate(270deg);
        position: fixed;
        bottom: 10%;
    }
</style>