---
import { Image } from 'astro:assets';
const jobs = Object.values(import.meta.glob('../markdown/*.md', { eager: true }));
console.log("hello")
if (jobs) {
    console.log("jobs")
}
---

<section class={"experience"} id="experience">
    <h2>Experience</h2>

    {jobs.map(item => 
        <div class={"experience__item"}>
            <Image src={import(item.frontmatter.logo)} alt=""></Image>
            <div>
                <h3 class={"experience__item__title"}>{item.frontmatter.title}</h3>
                <p>{item.rawContent()}</p>
            </div>
        </div>
    )}

    
</section>

<style>
    .experience {

        .experience__item {
            display: flex;
            gap: 1em;
            margin-block: 3em;

            .experience__item__title {
                font-size: .9rem;
                margin-top: 0;
            }
            img {
                --img-dimension: 5em;
                align-self: flex-start;
                width: var(--img-dimension);
                height: var(--img-dimension);
                border-radius: 50%;
            }
        }

       
    }
</style>
