<section class={"hero"} id="about">
    <h1 class={"hero__title"}>Ramsey <br> Ediku</h1>
    <p>
        I am a developer who loves turning ideas into things people can actually use and enjoy. 
        My interest in coding started back in school and grew into a real passion that led me to study Computer Science and help others learn along the way.
       <br><br>
        I have worked on projects that taught me the value of teamwork, creativity, and constant learning. 
        Right now, I am focused on growing my skills and becoming a well-rounded developer who creates meaningful, user-friendly experiences.
    </p>
</section>

<style>

    .hero__title {
        margin-block: 0.45em;
    }
   
</style>