---
import { Image } from 'astro:assets';
import codepen from "../assets/brand-codepen.svg"
import linkedin from "../assets/brand-linkedin.svg"
import github from "../assets/brand-github.svg"
import email from "../assets/envelope.svg"
---
<section class={"hero"} id="about">
    <h1 class={"hero__title"}>Ramsey <br> Ediku</h1>
    <p>
        I am a developer who loves turning ideas into things people can actually use and enjoy. 
        My interest in coding started back in school and grew into a real passion that led me to study Computer Science and help others learn along the way.
       <br><br>
        I have worked on projects that taught me the value of teamwork, creativity, and constant learning. 
        Right now, I am focused on growing my skills and becoming a well-rounded developer who creates meaningful, user-friendly experiences.
    </p>
    <div class={"hero__links"}>
        <a target="_blank" href="https://linkedin.com/in/ramseyediku"><Image alt="Logo for Linkedin" src={linkedin}></Image></a>
        <a target="_blank" href="http://github.com/ramseyediku"><Image alt="Logo for Github" src={github}></Image></a>
        <a target="_blank" href="mailto:ramseyediku@protonmail.com"><Image alt="Logo for Email" src={email}></Image></a>
        <a target="_blank" href="https://codepen.io/ramseyediku"><Image alt="Logo for Codepen" src={codepen}></Image></a>
    </div>
</section>

<style>

    .hero {
        .hero__title {
            margin-block: 0 0.45em;
        }
        .hero__links {
            display: flex;
            margin-block: 2.75em 1.5em;
            gap: 1em;
            
            a {
                position: relative;
                --hover-dimension: 3em;
                width: var(--hover-dimension);
                height: var(--hover-dimension);
                display: grid;
                place-content: center;
                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    border-radius: var(--border-radius);
                    background: var(--clr-accent);
                    transform: scale(0);
                    transition: transform 350ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
                }

                &:hover {
                    img {
                        filter: invert(15%) sepia(21%) saturate(0%) hue-rotate(143deg) brightness(96%) contrast(85%);
                    }
                    &::before {
                        transform: scale(1);
                    }
                }
            }

            img {
                --logo-dimension: 1.75rem;
                width: var(--logo-dimension);
                height: var(--logo-dimension);
                border-radius: 50%;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            }
        }
    }
   
   
</style>