---
import Hero from '../components/hero.astro';
import Works from '../components/works.astro'
import Experience from './experience.astro';
---

<main>
    <div class="wrapper">
        <Hero></Hero>
        <Works></Works>
        <Experience></Experience>
    </div>
</main>

<style>
    
</style>